* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Helvetica Neue';
}

.banner {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSU0V8cr3WD-0KFwDtMfz0oZT9WSnOb_JTXvVeQDIv3mpasm7Zf&usqp=CAU');
    width: auto;
    height: 200px;
}

header {
    text-align: center;
    padding: 45px;
    color: black;
}

h1 {
    font-size: 60px;
    padding: 35px;
}

h2 {
    font-size: 22px;
    text-align: center;
}

.why-adopt, .search-form, .results, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.headline, .headlinepara {
    text-align: center;
    font-style: italic;
}

.js-error-message {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

form {
    width: 400px;
    padding: 40px;
}

fieldset {
    padding: 25px;
    border: none;
    text-align: center;
}

legend {
    font-size: 16px;
    font-weight: light;
    padding-top: 40px;
    padding-bottom: 0px;
    font-style: italic;
}

label {
    font-size: 18px;
}

label:before {
    content: "\a";
    white-space: pre;
}

label:after {
    content: "\a";
    white-space: pre;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.submit-img {
    height: 35px;
    width: 35px;
}

button {
    cursor: pointer;
    padding: 5px;
    margin: 0;
}

ul {
    text-align: center;
    padding-left: 10px;
}

li {
    list-style: none;
    font-weight: 200;
    font-size: 18px;
}

.results {
    padding-bottom: 60px;
}

img {
    width: 250px;
    height: auto;
}

a:hover {
    font-size: 22px;
    cursor: pointer;
    color: rgb(128, 0, 75);
}

.contact {
    padding-bottom: 100px;
    text-align: center;
}


/* media query for screen at min width 550px */
@media screen and (min-width: 550px) {
    
    img {
        width: 350px;
        height: auto;
    }

}


/* media query for screen at min width 820px */
@media screen and (min-width: 820px) {
    
    h1 {
        font-size: 85px;
        padding-bottom: 80px;
    }

    .headline  {
        font-size: 25px
    }

    .headlinepara {
        font-size: 20px;
    }

    img {
        width: 500px;
        height: auto;
    }

}