* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Geneva';
}

.banner {
    background-image: url('https://media.istockphoto.com/videos/pets-pattern-scrolling-background-with-colored-paws-video-id1128149782?s=640x640');
    width: auto;
    height: 200px;
}

header {
    text-align: center;
    padding: 45px;
    color: black;
}

h1 {
    font-size: 60px;
    padding: 35px;
}

h2 {
    font-size: 22px;
    text-align: center;
}

.results-hdr {
    padding-left: 85px;
    padding-bottom:15px;
}

/* body {
    background-color: lightgrey;
} */

.why-adopt, .search-form, .results, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.headline, .headlinepara {
    text-align: center;
    font-style: italic;
}

.js-error-message {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

form {
    width: 400px;
    padding: 40px;
}

fieldset {
    padding: 25px;
    border: none;
    text-align: center;
}

legend {
    font-size: 16px;
    font-weight: light;
    padding-top: 40px;
    padding-bottom: 0px;
    font-style: italic;
}

label {
    font-size: 18px;
}

label:before {
    content: "\a";
    white-space: pre;
}

label:after {
    content: "\a";
    white-space: pre;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.submit-img {
    height: 40px;
    width: 40px;
}

button {
    cursor: pointer;
    padding: 5px;
    margin: 0;
    border-bottom-color: white;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
}

ul > li > a > h3 {
    padding: 20px;
}

ul {
    text-align: center;
    padding-left: 10px;
    padding-bottom: 45px;
    background: lightgray; 
    width: 80%;

}

ul:nth-child(odd) { 
    background: lightslategray;
}

li {
    list-style: none;
    font-weight: 200;
    font-size: 18px;
}

.results {
    padding-bottom: 60px;
}

li img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    padding: 15px;
}

a:hover {
    font-size: 22px;
    cursor: pointer;
    color: rgb(128, 0, 75);
}

.contact {
    padding-bottom: 100px;
    text-align: center;
}


/* media query for screen at min width 550px */
@media screen and (min-width: 550px) {
    
    li img {
        width: 250px;
        height: auto;
    }

}


/* media query for screen at min width 820px */
@media screen and (min-width: 820px) {
    
    h1 {
        font-size: 85px;
        padding-bottom: 80px;
    }

    .headline  {
        font-size: 25px
    }

    .headlinepara {
        font-size: 20px;
    }

    li img {
        width: 500px;
        height: auto;
    }

}